<!--todo сделать, чтобы тематики вели на динамический урл (не критично)-->
<div th:fragment="header" class="header__wrapper container-fluid">
    <header class="header container-1100">
        <a th:href="@{/}" class="header__logo" title="На главную">HabrXX</a>
        <div class="header__genres">
            <!-- todo тут можно не по айдишникам, а по названию жанра-->
            <nav><a th:href="@{/publications?genre=Все}">Все</a></nav>
            <nav><a th:href="@{/publications?genre=Наука}">Наука</a></nav>
            <nav><a th:href="@{/publications?genre=Технологии}">Технологии</a></nav>
            <nav><a th:href="@{/publications?genre=Научпоп}">Научпоп</a></nav>
            <nav><a th:href="@{/publications?genre=Политика}">Политика</a></nav>
            <nav th:if="${session.isAdmin} != null"><a th:href="@{/admin}">Админка</a></nav>
        </div>
        <div class="header__right-buttons">
            <a th:href="@{/publications/add}">
                <img th:if="${session.userId != null}" th:src="@{/svg/pencil-solid.svg}" title="Написать статью" alt="">
            </a>
            <a th:if="${session.userId == null}" class="header__sign-in" th:href="@{/sign-in}">
                <!--todo сделать функцию когда пользователь зашел, чтобы наверху был его логин-->
                <img th:src="@{/svg/auth-solid.svg}" title="Вход" alt=""/>
            </a>
            <a th:unless="${session.userId == null}" th:href="@{/logout}" title="Выйти">
                <img th:src="@{/svg/logout-solid.svg}" alt="">
            </a>
        </div>
    </header>
</div>
