<div class="publication" th:fragment="publication(publication, imageEndpoint)">
    <div class="publication__top">
        <a th:href="${'/publications/byUser?userId=' + publication.author.id}"
           class="publication__author" th:text="${publication.author.login}"></a>
        <div class="publication__time"
             th:text="${#temporals.format(publication.publishDateTime, 'dd-MM-yyyy HH:mm')}"></div>
    </div>
    <div class="publication__header-wrapper">
        <a class="publication__header" th:text="${publication.header}"
           th:href="@{/publications/{id}/(id=${publication.id})}"></a>
    </div>
    <div class="publication__tags">
        <!--todo сделать ссылку, чтобы можно было перейти для просмотра статей по тэгам-->
        <span class="publication__tag" th:each="tag: ${publication.tags}"
              th:text="${tag.getName()}"></span>
    </div>
    <div class="publication__img-wrapper">
        <img class="publication__img"
             th:src="@{${imageEndpoint} + '?filePath='+ ${publication.previewImagePath}}" alt=""/>
    </div>
    <div class="publication__read-more-btn-wrapper">
        <a class="publication__read-more-btn btn"
           th:href="@{/publications/{id}/(id=${publication.id})}"
           title="Показать полностью">
            Читать
        </a>
    </div>
    <div class="publication__attributes">
        <div class="publication__karma publication__attribute">
            <img class="publication__karma-icon" th:src="@{/svg/karma-solid.svg}" title="Карма" alt="">
            <div class="publication__karma-text" th:text="${publication.karma}"></div>
        </div>
        <div class="publication__views-count publication__attribute">
            <img class="publication__views-count-icon" th:src="@{/svg/views-count-solid.svg}" title="Кол-во просмотров"
                 alt="" src="">
            <div class="publication__views-count-text" th:text="${publication.viewsCount}"></div>
        </div>
        <div class="publication__comments-count publication__attribute">
            <img class="publication__comments-count-icon" th:src="@{/svg/comments-count-solid.svg}"
                 title="Кол-во комментариев" alt="" src="">
            <div class="publication__comments-count-text"
                 th:text="${publication.comments.size()}"></div>
        </div>
    </div>
</div>