.admin-home {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
}

.card {
    width: 400px;
    padding: 100px;
    background-color: #a29bfe;
    font-size: 30px;
    text-align: center;
    color: white !important;
    text-decoration: none;
    border-radius: 20px;
    transition: .3s linear all;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

a.publication-admin-card {
    background-color: #6c5ce7;
}

a.comments-admin-card {
    background-color: #a29bfe;
}

a.users-admin-card {
    background-color: #0984e3;
}

a.reports-admin-card {
    background-color: #74b9ff;
}

a.publication-admin-card:hover,
a.comments-admin-card:hover,
a.users-admin-card:hover,
a.reports-admin-card:hover {
    transform: scale(1.02);
}

