th {
    text-align: center;
}

td.publication__author-login {
    text-align: center;
}

td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dfe6e9;
}


.admin-publications__main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}