.auth-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*fixme убрать, когда сделаю наследования компонентов от базового*/
    height: 100vh;
}

.auth-form__wrapper {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
}

.auth-main__header {
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.auth-form input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    background-color: #e8f0fe;
    width: 100%;
}

.auth-form input[type=submit] {
    cursor: pointer;
    transition: 0.2s linear opacity;
}

.auth-form input[type=submit]:hover {
    opacity: 0.8;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.error-text {
    padding: 10px;
    color: red;
    border: 1px solid gray;
    background-color: #f6f6f8;
    border-radius: 10px;
}