@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

.footer {
    margin-top: 10px;
    background-color: white;
    text-align: center;
}

.footer__author {
    font-family: 'Smooch', cursive;
    font-size: 40px;
}