.header__wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: white;
}

a.header__logo {
    margin-right: 40px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black !important;
}

/*todo назвать навы*/
nav {
    padding: 10px;
}

nav:hover {
    background-color: rgba(178, 190, 195, 0.4);
}

.header__genres {
    display: flex;
    gap: 30px;
    margin-right: auto;
}

.header__right-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__right-buttons img {
    width: 20px;
    height: 20px;
    filter: invert(85%) sepia(20%) saturate(120%) hue-rotate(152deg) brightness(87%) contrast(88%);
    cursor: pointer;
}


.header__wrapper {
    background-color: white;
}

.header__sign-in img {
    width: 20px;
    height: 23px;
}

.header__logout img {
    width: 20px;
    height: 20px;
}