.publications__main-content {
    flex: 1 1 auto;
    display: flex;
    gap: 10px;
}

.main-center {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.publications__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}


.publications {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

.publication {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.publication__top {
    display: flex;
    gap: 20px;
}

.publication__tags {
    display: flex;
    gap: 10px;
}

.publication__tag {
    color: gray;
}

div.publication__header-wrapper a.publication__header {
    font-size: 24px;
    color: black;
    text-decoration: none;
    transition: 0.2s linear color;
}

div.publication__header-wrapper a.publication__header:hover {
    color: #74b9ff;
}

.publication__img-wrapper {
    display: flex;
}

.publication__img {
    object-fit: cover;
    width: 100%;
}

.publication__attributes {
    display: flex;
    gap: 30px;
    height: 30px;
}

.publication__attribute {
    display: flex;
    align-items: center;
    gap: 10px;
}

.publication__attribute img {
    filter: invert(85%) sepia(20%) saturate(120%) hue-rotate(152deg) brightness(87%) contrast(88%);
}

.publication__attribute img {
    width: 15px;
    height: 12px;
}

img.publication__karma-icon {
    position: relative;
    top: -1px;
    width: 14px;
    height: 14px;
}

img.publication__comments-count-icon {
    width: 17px;
    height: 16px;
}

.paginator {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 10px;
}

.main-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.mini-publications-header {
    padding: 15px;
    background-color: white;
    font-size: 25px;
    border-radius: 10px;
}

.mini-publications {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mini-publication {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.mini-publication__header {
    font-weight: bold;
    color: black !important;
    text-decoration: none !important;
}

.mini-publication__attrs {
    display: flex;
    gap: 20px;
}