.publication_details.container-900 {
    flex: 1 1 auto;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.publication_details .main-center {
    padding: 15px 20px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}

.publication__first-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

span.delete-publication-btn {
    color: red;
    border-color: red;
    cursor: pointer;
}

.delete-publication-btn:hover {
    background-color: red;
    color: white;
    border-color: white;
}

.publication__preview-image-wrapper {
    text-align: center;
}

.publication__preview-image {
    object-fit: cover;
    width: 552px;
    height: 300px;
}

a.delete-publication-btn.btn {
    color: #d63031;
    border: 1px solid #d63031;
}

a.delete-publication-btn.btn:hover {
    background-color: #d63031;
    color: white;
}

.publication_details__views-count-img {
    width: 15px;
    height: 12px;
}

.add-karma {
    width: 14px;
    height: 16px !important;
}