.reports-main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

a.card:hover {
    transform: scale(1.02);
}

.report-format-checkbox {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
}

#reportFormat {
    width: 300px;
    height: 45px;
    outline: none;
}