<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список публикаций</title>
    <link rel="icon" type="image/ico" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!--todo разобраться с проблемой перезагрузкой сервера для показа фотографии-->
<div class="wrapper">
    <div th:replace="~{fragments/header}"></div>
    <main class="publications__main-content container-900">
        <div class="main-center">
            <h1 class="publications__header" th:text="${'Публикации: ' + chosenFilter}"></h1>
            <div class="publications">
                <!--todo сделать иконку автора -->
                <div th:each="publication: ${publications}"
                     th:insert="~{fragments/publication(${publication})}"
                     th:remove="tag"
                     class="publication">
                </div>
            </div>
            <div th:replace="~{fragments/paginator(${currentPage}, ${pagesCount})}"></div>
        </div>
        <div class="main-left">
            <h2 class="mini-publications-header">Читают сейчас</h2>
            <div class="mini-publications">
                <div th:each="miniPublication: ${miniPublications}"
                     th:insert="~{fragments/mini-publication(${miniPublication})}"
                     th:remove="tag"
                     class="mini-publication"></div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer"></footer>
</div>
</body>
</html>
