<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список публикаций</title>
    <link rel="icon" type="image/ico" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!--todo разобраться с проблемой перезагрузкой сервера для показа фотографии-->
<div class="wrapper">
    <div th:replace="~{fragments/header}"></div>
    <main class="publications__main-content container-900">
        <div class="main-center">
            <h1 class="publications__header" th:text="${'Публикации: ' + chosenFilter}"></h1>
            <div class="publications">
                <!--todo сделать иконку автора -->
                <div th:each="publication: ${publications}"
                     th:insert="~{fragments/publication_card(${publication})}"
                     th:remove="tag"
                     class="publication"
                ></div>
                <!--todo вынести во фрагмент-->
                <div class="paginator">
                    <a th:hidden="${currentPage == 1}"
                       th:href="${'/publications?page=' + (currentPage - 1)}"><</a>
                    <a th:hidden="${pagesCount == 1}"
                       th:text="${currentPage}"
                       th:href="${'/publications?page=' + currentPage}">
                    </a>
                    <a th:hidden="${currentPage + 1 > pagesCount}"
                       th:href="${'/publications?page=' + (currentPage + 1)}"
                       th:text="${currentPage + 1}"></a>
                    <a th:hidden="${currentPage + 2 > pagesCount}"
                       th:href="${'/publications?page=' + (currentPage + 2)}"
                       th:text="currentPage + 2"></a>
                    <span th:hidden="${pagesCount < 5}" href="#">...</span>
                    <a th:hidden="${(pagesCount - 2) <= 2}"
                       th:href="${'/publications?page=' + (pagesCount - 2)}"
                       th:text="${(pagesCount - 2)}"></a>
                    <a th:hidden="${(pagesCount - 1) <= 1}"
                       th:href="${'/publications?page=' + (pagesCount - 1)}"
                       th:text="${(pagesCount - 1)}"></a>
                    <a th:hidden="${currentPage == pagesCount}"
                       th:href="${'/publications?page=' + (currentPage + 1)}">></a>
                </div>
            </div>
        </div>
        <div class="main-left">
            <h2 class="mini-publications-header">Читают сейчас</h2>
            <div class="mini-publications">
                <div class="mini-publication" th:each="miniPublication: ${miniPublications}">
                    <a class="mini-publication__header" th:href="@{/publications/{id}(id=${miniPublication.id})}"
                       th:text="${miniPublication.header}"></a>
                    <div class="mini-publication__attrs">
                        <div class="publication__attribute">
                            <img class="publication__views-count-icon" th:src="@{/svg/views-count-solid.svg}"
                                 alt="">
                            <span th:text="${miniPublication.viewsCount}"></span>
                        </div>
                        <div class="publication__attribute">
                            <img class="publication__comments-count-icon" th:src="@{/svg/comments-count-solid.svg}"
                                 alt="">
                            <span th:text="${miniPublication.commentsCount}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer"></footer>
</div>
</body>
</html>
